.project {
  width: 100%;
  min-height: 100vh;
}

.project .container {
  padding: 0;
}

.project-hero-img,
.project-hero-img-2 {
  width: 100%;
  height: 75vh;
}

.project-hero-img img,
.project-hero-img video,
.project-hero-img-2 img,
.project-hero-img-2 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-hero-img-3 {
  width: 100%;
  height: 100vh;
}

.project-hero-img-3 img,
.project-hero-img-3 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  width: 100%;
  padding: 1.5em 3em;
  display: flex;
  gap: 1em;
}

.project-info .col {
  flex: 1;
  display: flex;
  gap: 1em;
}

.project-info .col > div {
  flex: 1;
}

.project-info .col:nth-child(2) p {
  text-align: right;
}

.project-copy {
  width: 100%;
  padding: 8em 3em;
  display: flex;
  gap: 1em;
}

.project-copy .col {
  flex: 1;
}

.project-copy .col p {
  font-size: 22px;
  white-space: pre-wrap;
}

.project-sub-info {
  display: flex;
  gap: 1em;
  margin: 2em 0;
  justify-content: space-between;
}

.project-sub-info .sub-col {
  display: flex;
  gap: 1em;
}

.project-imgs {
  width: 100%;
  padding: 0 3em;
  display: flex;
  gap: 1.5em;
}

.img {
  width: 100%;
  aspect-ratio: 5 / 4;
  padding-bottom: 1.5em;
}

.img img,
.img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.next-project-cta {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-project-cta h1 {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.next-project-cta a:hover h1 {
  transform: scale(1.1);
  color: #d8ff00;
}

@media (max-width: 900px) {
  .project-info,
  .project-info .col,
  .project-sub-info,
  .project-sub-info .sub-col {
    flex-direction: column;
  }

  .project-info .col:nth-child(2) p {
    text-align: left;
  }

  .project-copy {
    flex-direction: column;
  }

  .project-imgs {
    flex-direction: column;
  }
}
